<%- include('templates/header', { user, title: 'Members' }) %>

  <div class="text-center my-4">
    <h1>Welcome, <%= user.name %>!</h1>
  </div>

  <div class="row">
    <% images.forEach(img=> { %>
      <div class="col-12 col-md-4 mb-3 text-center">
        <div class="card">
          <img src="/images/<%= img %>" class="card-img-top img-fluid w-77 mx-auto" alt="Member image">
        </div>

        <% if (user.user_type==='admin' ) { %>
          <a href="/admin/delete-image/<%= img %>" class="btn btn-sm btn-danger mt-2"
            onclick="return confirm('Are you sure you want to delete <%= img %>?');">
            Delete
          </a>
          <% } %>
      </div>
      <% }) %>
  </div>

  <div class="text-center mt-4">
    <a href="/logout" class="btn btn-secondary">Sign Out</a>
  </div>

  <%- include('templates/footer') %>